* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 500px;
    height: 500px;
    background-color: yellow;
    position: absolute;
    top: 20%;
    border: 3px solid black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}